@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Dynalight&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background: $iron;
  display: flex;
  font-family: "Dynalight", cursive;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.button__load {
  width: 96px;
  height: 40px;
  background: $yellow;
  border: none;
  box-shadow: 0px 6px 10px rgba(244, 248, 65, 0.4);
  border-radius: 20px 0px;
  font-size: 22px;
  line-height: 20px;
  letter-spacing: 1px;
  color: $blue;
  text-transform: uppercase;
  outline-color: $iron;
  transition: background-color 0.2s ease-out;
  margin-left:24px;
}

.button__load:hover {
  background: #f7f8ab;
}

.button__remove {
  width: 128px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  line-height: 20px;
  border: none;
  border-radius: 20px 0px;
  letter-spacing: 1px;
  color: #1424ae;
  background: #f84141;
  box-shadow: 0px 6px 10px rgba(248, 65, 65, 0.4);
  text-transform: uppercase;
  margin-left: 24px;
  margin-right: 40px;
  outline-color: $iron;
  transition: background-color 0.2s ease-out;
}

.button__remove:hover {
  background: #fa6a6a;
}

.editor__textarea-wrapper{
  margin:0;
}
.button__save {
  width: 96px;
  height: 40px;
  background: $blue;
  box-shadow: 0px 6px 10px rgba(20, 36, 174, 0.4);
  font-size: 22px;
  line-height: 20px;
  letter-spacing: 1px;
  color: $yellow;
  text-transform: uppercase;
  border-radius: 20px 0px;
  border: none;
  outline-color: $iron;
  transition: background-color 0.2s ease-out;
}

.button__save:hover {
  background: #164ecf;
}

.editor__header {
  color: $blue;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 9px;
  text-indent: 24px;
  text-shadow: 0px 2px 5px rgba(20, 36, 174, 0.8);
  transform: rotate(-0.1deg);
}

.editor__form {
  background: linear-gradient(
    228.26deg,
    #15006b 20.98%,
    rgba(12, 53, 196, 0.5625) 55.56%,
    rgba(14, 11, 159, 0.25) 99.1%
  );
  border-radius: 5px;
  height: 336px;
  margin-bottom: 16px;
  max-width: 544px;
  padding: 24px;
  width: 100%;
}

.editor__textarea {
  width: 496px;
  height: 288px;
  font-size: 28px;
  line-height: 24px;
  color: #3f51b5;
  outline-color: aliceblue;
  padding: 16px;
}
